
.accordion-wrapper .accordion-btn{
	border: none;
	padding: 10px 30px;
	position: relative;

}

.accordion-wrapper .accordion-btn .expand{
	margin-top:13px;
	font-size: 0.5em;
	position: absolute;
    right: 15px;
}

.accordion-wrapper .collapse{
	/*max-height: 800px;*/
	/*height: auto;*/
	-webkit-transition: max-height 500ms linear;
    -moz-transition: max-height 500ms linear;
    -o-transition: max-height 500ms linear;
    -ms-transition: max-height 500ms linear;
    transition: max-height 500ms linear; 
}

.accordion-wrapper.collapsed .accordion-btn .title i{
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.accordion-wrapper.collapsed .collapse{
	max-height: 1px;
	overflow: hidden;
}

