
.accordion-wrapper .accordion-btn{
	border: none;
	padding: 10px 30px;
	position: relative;
}

.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}

.accordion-wrapper .accordion-btn .expand{
	margin-top:13px;
	font-size: 0.5em;
	position: absolute;
    right: 15px;
}

.accordion-wrapper .collapse{
	/*max-height: 800px;*/
	/*height: auto;*/
	-webkit-transition: max-height 500ms linear;
    -moz-transition: max-height 500ms linear;
    -o-transition: max-height 500ms linear;
    -ms-transition: max-height 500ms linear;
    transition: max-height 500ms linear; 
}

.accordion-wrapper.collapsed .accordion-btn .expand i{
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	display: inline-block;
}

.accordion-wrapper.collapsed .collapse{
	max-height: 1px;
	overflow: hidden;
}

div#content_protocol {
    padding: 0 15px;
    margin-top:15px;
}

/*Card sorting board*/
.study-content {
    background: #efefef;
    border: solid 1px #ccc;
    margin-top: 50px;
    /* width: 100%; */
    padding: 30px;
}

.board-column-header .title {
    font-size: 24px;
    margin: 0;
    line-height: 50px;
}

.study-content-footer {
    text-align: right;
    padding: 30px 0;
}

/*muuri styles*/
.board {
  position: relative;
  margin-left: 1%;
}
.board-column {
  position: absolute;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 1.5%;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
}

.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}
.board-column.todo .board-column-header {
  background: #4A9FF9;
}
.board-column.working .board-column-header {
  background: #f9944a;
}
.board-column.done .board-column-header {
  background: #2ac06d;
}
.board-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
}
.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}
.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}

.required-note{
	font-size: 0.75em;
}

/*modal styles*/
.modal.anthrohack-modal{
	position: fixed;
	top:0;
	left:0;
	height:auto;
	opacity: 1;
	text-align: center;
	background: rgba(0,0,0,0.85);
	z-index: 1000;
	max-width: unset!important;
	max-height: unset!important;

}

.modal.anthrohack-modal .modal-dialog {
    position:relative;
    background: #fff; 
    width: 60%;
    margin: auto;
    overflow-y: scroll;
    margin-top: 25px; 
}

.modal.anthrohack-modal .close-button .close-label{
	display: none;
	position: absolute;
	font-size: 0.5em;
	right:0;
	top: 20px;
}

.modal.anthrohack-modal .close-button:hover .close-label{
	display: block;
}

.modal.anthrohack-modal .close-button {
    position: absolute;
    display: block;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.modal.anthrohack-modal .modal-header,
.modal.anthrohack-modal .modal-footer,
.modal.anthrohack-modal .modal-body{
	padding:15px 30px 0;
}

.modal.anthrohack-modal .modal-footer {
    text-align: right;
    padding-bottom: 30px;
}

.modal.anthrohack-modal .modal-footer .cancel{
	line-height: 50px;
	display: inline-block;
	cursor:pointer;
	margin-right: 30px;
}

.modal.anthrohack-modal .modal-body{
	padding-top:0;
	text-align: left;
}

ul.pile-cards{
	padding-left: 0;
	list-style: none;
}

ul.pile-cards li {
    float: left;
    display: inline-block;
    font-size: 0.75em;
}

ul.pile-cards li:not(:first-of-type):before{
	content: ",";
	margin-right: 5px;
}
